
:global(.post-info) {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  line-height: normal;
  opacity: 0.6;
}

:global(.flag) {
  border-radius: 50%;
  margin: 0 5px;
}

:global(.flag-icon-es.flag-icon-squared) {
  background-image: url(../../assets/es.svg);
  width: 1em;
  height: 1em; 
}
:global(.flag-icon-gb.flag-icon-squared) {
  background-image: url(../../assets/gb.svg);
  width: 1em;
  height: 1em; 
}

:global(.flag-icon) {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
:global(.flag-icon:hover) {
  transform: scale(1.2); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box; 

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

p{
text-align: center;
  margin: 0 auto; 
  padding: 10px; 
}

.descriptionAbout {
  margin: 0 auto; 
  padding: 10px 5%; 
  font-size: 1rem; 
  align-items: center;
  width: fit-content;
  flex-direction: column;
  gap: 30px;

  max-width: 1200px; 
  margin: 0 auto; 
  font-size:30px;
}


.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
  .descriptionAbout{
    font-size:  1.5rem; 
    margin: 5%;
  }
}

@media (width <= 800px) {

  .descriptionAbout{
    font-size:  1.1rem; 
    margin: 5%;
  }
}

@media (min-width: 700px) and (max-width: 800px){ /*for Ipad Mini and other strange resolutions*/

  .descriptionAbout{
    font-size:  1.5rem; 
    margin: 5%;
  }
}

